/*.ply
*.obj
*.mtl
__pycache__/

output/
gaussian/data/
gaussian/output/
gaussian/colmap/
gaussian/sam2/images/
tmp_images/

results/
voxel_results/

svraster/output/
svraster/data/
svraster/colmap/
svraster/sam2/images/
demo_trajectory/

droid/colmap_output/
droid/
demos/
